// _variables.scss
$white-dim: #f6f4e6;
$white-plain: #ffffff;
$white: #f6f6f6;
$black-light: #1d1d20;
$black-dark:#111111;
$yellow: #fddb3a;
$yellow-light: #f5cd07;
$gold: #edc352;
$font-size-very-small: .8em;
$font-size-small: .9em;
$font-size-mid: 1.1em;
$font-size-upper-mid: 1.3em;
$font-size-titles: 1.8em;
$font-size-heading: 2.0em;
$font-weight-mid:  500;