@use 'partials/variables' as v;
@use 'partials/base';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }

h2 {
  font-size: v.$font-size-titles;
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  color: v.$white;
  height: 100vh;
  width: 100%;

  #prof-pic {
    width: 220px;
    height: 250px;
  }

  header {
    max-height: 100vh;

    .navb {
      width: 100%;
      background-color: v.$white-plain;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        img {
          width: 60px;
          height: 60px;
        }
        .brand {
          color: v.$black;
          font-size: v.$font-size-mid;
          line-height: 1.5;
        }
      }
      
      div {
        margin: auto 2rem auto 0;
        i {
          color: v.$black;
          font-size: 23px;
          cursor: pointer;
        }
      }
    }
  }

  .main {
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 125px);
    max-width: 100vw;

    .container-grid {
      display: grid;

      .landing-page {
        .landing {
          .landing-image {
            text-align: center;
          }
          .landing-text {
            text-align: center;
            p {
              font-size: v.$font-size-mid;
            }
            .social-media-links {
              display: flex;
              flex-direction: row;
              justify-content: center;

              a {
                color: v.$black;
              }

              div {
                padding: 0;
                margin: 0 5px;
              }
            }
          }
        }
        .projects {
          .projects-row {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

            .project {
              border-radius: 0.2rem;
              background-color: v.$white-plain;

              .project-info {
                position: relative;
                display: grid;
                width: 100%;
                border-width: 1px;
                border-color: #008bf8;
                background-color: v.$white-plain;

                .project-image {
                  width: 100%;
                  height: 150px;
                  padding: 0;
                  margin: 0;
                  
                  img {
                    border-top-left-radius: 8px;
                    border-top-right-radius: 8px;
                    cursor: pointer;
                  }
                }
              }
              .project-text {
                padding-top: 1rem;
                padding-left: 1rem;
                height: 6rem;
                border-width: 1px;
                box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
                
                h5 {
                  margin-bottom: 0.5rem;
                }

                a {
                  display: block;
                  width: 90%;
                  color: v.$black;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Desktop version
@media (min-width: 1920px) {
  body {
    height: 100vh;
    overflow: hidden;

    header {
      padding: 2rem 4rem 0rem 4rem;
      .navb .logo .brand {
        font-size: v.$font-size-upper-mid;
      }
    }
 
    .main {
      height: calc(100% - 125px);
      overflow-y: auto;
      max-width: 100vw;
      margin: 0rem 4rem 0rem 4rem;
      overflow: hidden;

      .container-grid {
        grid-template-columns: 1fr 4.8fr 1fr;
        grid-auto-rows: minmax(800px, auto);

        .landing-page {
          padding: 3rem 5rem 0rem 5rem;
          grid-column: 2 / 3;

          .landing {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            text-align: center;
            max-width: 100%;
            font-size: v.$font-size-small;
            background-color: v.$white-plain;
            margin-bottom: 1rem;

            .landing-image {
              padding: 0 0 0 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;

              div {
                padding: inherit;
              }
            }
            .landing-text {
              color: v.$black;
              padding: 0 0 0 0;

              p {
                font-size: v.$font-size-mid;
              }
              .social-media-links {
                display: flex;
                flex-direction: row;
                justify-content: center;
                
                a {
                  color: v.$black;
                }

                div {
                  padding: 0;
                  margin: 0 5px;
                }
              }
            }
          }
          .about-me {
            padding-top: 3rem;
            color: v.$black;
          }
          .projects {
            background-color: v.$white-plain;
            display: flex;
            flex-direction: column;
            color:v.$black;
  
            h2 {
              font-size: v.$font-size-upper-mid;
              margin-bottom: 1em;
              transition: .5s;
  
              &:hover {
                color: v.$yellow;
              }
            }
  
            .projects-row {
              gap: 7rem;
  
              .project {
                position: relative;
                border-radius: 0.2rem;
  
                .project-info {
                  grid-template-rows: 1fr 0fr 0fr;
                }
              }
            }
          }
        }
        .sidebar {
          grid-column:3 / 4;
          background-color: v.$white-plain;
          border-style: solid;
          border-right-style: none;
          border-top-style: none;
          border-bottom-style: none;
          border-width: 2px;
          align-self: start;

          div {
            margin-top: 20px;
            color:v.$black;
            height: 40px;
            padding: 1.5em;

            a {
              color: v.$black;

              &:hover {
                color: v.$yellow-light;
              }
            }
          }
        }
      }
    }
  }
}

//mobile version
@media only screen and (max-width: 600px) {
  body {
    .main {
      margin: 0rem 2rem 0rem 2rem;

      .container-grid {
        margin-top: 70px;
        color: v.$black;
        .landing-page {
          .landing {
            margin-bottom: 80px;
            .landing-text {
              text-align: center;
              p {
                font-size: v.$font-size-small;
              }
            }
          }
          .projects {
            margin-bottom: 2rem;

            .projects-row {
              gap: 5rem;

              .project {
                position: relative;

              }
            }
          }
        }
      }
    }
  }
}