@use 'partials/variables' as v;
@use 'partials/base';

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }

h1 {
  font-size: v.$font-size-heading;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: v.$font-size-titles;
  color: v.$black-dark;
  margin-top: 30px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Utility classes */
.bold {
  font-weight: 700;
}

.button {
  display: inline-flex;
  align-items: center;
  font-size: v.$font-size-small;
  color: v.$black-dark;
  background-color: #edc352;
  padding: 8px 18px;
  font-weight: v.$font-weight-mid;
  border-radius: 10px;

  ion-icon {
    margin-left: 6px;
    font-size: v.$font-size-small;
  }

  &:hover {
    color: v.$black-dark;
  }
}

/* General style*/
body {
  color: v.$black-light;
  height: 100vh;
  width: 100%;

  #prof-pic {
    width: 220px;
    height: 250px;
  }

  header {
    max-height: 100vh;

    .navb {
      width: 100%;
      background-color: v.$white-plain;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        .brand {
          color: v.$black-dark;
          font-size: v.$font-size-mid;
          line-height: 1.5;
          margin-left: 2rem;
        }
      }
      
      div {
        margin: auto 2rem auto 0;
        i {
          color: v.$black-dark;
          font-size: 23px;
          cursor: pointer;
        }
      }
    }
  }

  .main {
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100vw;

    .container-grid {
      display: grid;

      .page-wrapper {
        grid-column: 2 / 3;
      }

      .landing-page {
        .landing {
          .landing-image {
            text-align: center;
          }
          .landing-text {
            h2 {
              color: v.$black-light;
            }
            text-align: center;
            p {
              font-size: v.$font-size-mid;
              line-height: 20px;
            }
            .social-media-links {
              display: flex;
              flex-direction: row;
              justify-content: center;

              a {
                color: v.$black-dark;
              }

              div {
                padding: 0;
                margin: 0 5px;
              }
            }
          }
        }
        .about-me {
          width: 75%;
          a {
            color: v.$black-light;

            &:hover {
              color: v.$yellow-light;
              cursor: pointer;
            }
          }
        }
        .projects {
          .projects-head {
            display: flex;
            align-items: center;
            justify-content: space-between;

          }
          .projects-row {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-auto-rows: minmax(100px, auto);

            .project {
              padding: 20px;
              background-color: v.$white-plain;
              width: 100%;
              border-width: 1px;
              background-color: v.$white-plain;
              border-radius: 1.2rem;
              box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);

              .project-image {
                width: 100%;
                height: 150px;
                padding: 0;
                margin: 0;
                
                img {
                  border-radius: 0.5rem;
                  cursor: pointer;
                }
              }
              .project-text {
                padding-top: 1rem;
                border-width: 1px;
                
                h5 {
                  margin-bottom: 0.5rem;
                }

                a {
                  display: block;
                  width: 90%;
                  color: v.$black-dark;
                }
              }
            }
          }
        }
      }

      .sidebar {
        color: v.$white;
      }
      .about-page {
        a {
          color: v.$gold;
        }
        span {
          color: v.$gold;
        }
      }
    }
  }
}

// Desktop version
@media (min-width: 1281px) {
  body {
    height: 100vh;
    overflow-y: auto;

    header {
      padding: 2rem 4rem 0rem 4rem;
      .navb .logo .brand {
        font-size: v.$font-size-upper-mid;
      }
    }
 
    .main {
      height: calc(100% - 125px);
      overflow-y: visible;
      max-width: 100vw;
      margin: 0rem 4rem 0rem 4rem;

      .container-grid {
        grid-template-columns: 1fr 4.3fr 1fr;
        grid-auto-rows: minmax(800px, auto);

        .landing-page {
          padding: 3rem 5rem 0rem 5rem;
          grid-column: 2 / 3;

          .landing {
            margin: 0;
            padding: 0;
            padding-top: 60px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            text-align: center;
            max-width: 100%;
            font-size: v.$font-size-small;
            background-color: v.$white-plain;
            margin-bottom: 5rem;

            .landing-image {
              padding: 0 0 0 0;
              display: flex;
              flex-direction: column;
              justify-content: center;
              text-align: center;

              div {
                padding: inherit;
              }
            }
            .landing-text {
              padding: 0 0 0 0;

              p {
                font-size: v.$font-size-mid;
                line-height: 30px;
              }
              .social-media-links {
                display: flex;
                flex-direction: row;
                justify-content: center;
                
                div {
                  padding: 0;
                  margin: 0 5px;
                }
              }
            }
          }
          .about-me {
            padding-top: 80px;
          }
          .projects {
            background-color: v.$white-plain;
            display: flex;
            flex-direction: column;
            color:v.$black-dark;
            margin-top: 2rem;
            margin-bottom: 2rem;

            h2 {
              font-size: v.$font-size-upper-mid;
              margin-bottom: 1em;
  
              &:hover {
                color: v.$yellow;
              }
            }
  
            .projects-row {
              margin-top: 2rem;
              gap: 7rem;
              margin-bottom: 8rem;

              .project {
                position: relative;

  
                .project-info {
                  grid-template-rows: 1fr 0fr 0fr;
                }
              }
            }
          }
        }
        .sidebar {
          z-index: 999;
          grid-column:3 / 4;
          background-color: v.$white-plain;
          border-style: solid;
          border-right-style: none;
          border-top-style: none;
          border-bottom-style: none;
          border-width: 2px;
          align-self: start;

          div {
            margin-top: 20px;
            color:v.$black-dark;
            height: 40px;
            padding: 1.5em;

            a {
              color: v.$black-dark;

              &:hover {
                color: v.$yellow-light;
              }
            }
          }
        }
        .about-page {
          grid-column: 2 / 3;
          padding: 7rem 15rem 5rem 15rem;
          
        }
      }
    }
  }
}
//
////responsive version
//@media only screen and (max-width: 1280px){
//  body {
//    .main {
//      margin: 0rem 2rem 0rem 2rem;
//
//      .container-grid {
//        margin-top: 70px;
//        color: v.$black-dark;
//        display: grid;
//
//        .landing-page {
//          .landing {
//            margin-bottom: 80px;
//            .landing-text {
//              p {
//                font-size: v.$font-size-small;
//              }
//            }
//          }
//          .projects {
//            margin-bottom: 2rem;
//
//            .projects-row {
//              gap: 5rem;
//              padding-left: 1rem;
//              padding-right: 1rem;
//
//              .project {
//                position: relative;
//              }
//            }
//          }
//        }
//        .sidebar {
//          background-color: v.$white-plain;
//          border-right-style: none;
//          border-top-style: none;
//          border-bottom-style: none;
//          border-width: 2px;
//          align-self: start;
//          position: fixed;
//          width: 100vw;
//          height: 100vh;
//          overflow: hidden;
//
//          div {
//            margin-top: 20px;
//            color: v.$black-dark;
//            height: 40px;
//            padding: 1.5em;
//
//            a {
//              color: v.$black-dark;
//            }
//          }
//        }
//      }
//    }
//  }
//}

//@media only screen and (max-width: 1280px) and (orientation: landscape) {
//  body {
//    .main {
//      .container-grid {
//        margin-top: 0;
//      }
//    }
//  }
//}

////mobile small screen
//@media only screen and (max-width: 280px) {
//  body {
//    header {
//      .navb {
//        .logo {
//          .brand {
//            span {
//              &:nth-child(1) {
//                display: none;
//              }
//            }
//          }
//        }
//      }
//    }
//
//    .main {
//      margin: 0;
//
//      .container-grid {
//        .landing-page {
//          .landing {
//            padding: 0 2rem 0 2rem;
//          }
//          .about-me {
//            padding: 0 2rem 0 2rem;
//          }
//          .projects {
//            h2 {
//              padding: 0 2rem 0 2rem;
//            }
//          }
//        }
//      }
//    }
//  }
//}
